POSTGRES_PASSWORD=<INSERT PASSWORD>
CLICKHOUSE_PASSWORD=<INSERT PASSWORD>
MINIO_ROOT_PASSWORD=<INSERT PASSWORD>

NEXTAUTH_SECRET=<INSERT SECRET>
SALT=<INSERT SALT>

LANGFUSE_INIT_USER_PASSWORD=<INSERT PASSWORD>
LANGFUSE_INIT_PROJECT_PUBLIC_KEY=<INSERT KEY>
LANGFUSE_INIT_PROJECT_SECRET_KEY=<INSERT KEY>
